body {
    margin: 0;

}

.main {
    height: 100vh;
    background-image: url('../img/main-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
}

.text-title, .text-subtitle {
    color: white;
    font-family: 'Bebas';
}

.text-title {
    font-weight: bold;
}

.text-subtitle {
    font-weight: normal;
}